[Unit]
Description=MTV serice file
After=network.target

[Service]
ExecStart=/home/pi/mtvsetup/target/release/mtvsetup
Type=notify
Restart=always


[Install]
WantedBy=default.target