[Unit]
Description=MTV serice file
After=network.target

[Service]
ExecStart=/usr/bin/sh /usr/share/mtvsetup/mtvsetup/start.sh
Restart=always
User=root
Group=root


[Install]
WantedBy=multi-user.target